@import "nullstyle.scss";
@import "fonts.scss";

body {
    font-family: 'Livvic', sans-serif;
}

// !!COLORS
// -----FONT_COLORS-----
$header-nav-link-font__color: #FFFFFF;
$header-btn-font__color: #FFFFFF;
$header-btn-hover-font__color: #012F34;
$header-btn-active-font__color: #406367;
$main-page-title-font__color: #FFFFFF;
$main-page-title-span-font__color: #F67E7E;
$main-page-subtitle-font__color: #FFFFFF;
$allSection-title-font__color: #FFFFFF;
$build-title-font__color: $allSection-title-font__color;
$build-list-item-title-font__color: #F67E7E;
$build-list-item-subtitle-font__color: #FFFFFF;
$delivering-title-font__color: #FFFFFF;
$delivering-title-span-font__color: #79C8C7;
$delivering-blockquote-text-font__color: #FFFFFF;
$delivering-blockquote-text-author-font__color: #79C8C7;
$delivering-blockquote-text-author-job-font__color: #FFFFFF;
$ready-title-font__color: #012F34;
$ready-btn-font__color: #012F34;
$footer-nav-link-font__color: $header-nav-link-font__color;
$footer-address-font__color: #FFFFFF;
$footer-copy-font__color: #FFFFFF;


// -----ELEMENT_COLORS-----
$logo-fill__color: #FFFFFF;
$header-logo-fill__color: $logo-fill__color;
$main-page-bg__color: #014E56;
$header-bg__color: #014E56;
$header-btn-border__color: #FFFFFF;
$header-btn-border-active__color: #406367;
$header-btn-bg__color: transparent;
$header-btn-hover-bg__color: #FFFFFF;
$main-page-line-bg__color: #79C8C7;
$build-section-bg__color: #012F34;
$build-list-item-circle-bg__color: #2C6269;
$build-list-item-SVGicon-fill__color: #79C8C7;
$delivering-bg__color: #004047;
$delivering-quote-bg__color: #2C6269;
$delivering-image-border__color: #C4FFFE;
$ready-bg__color: #F67E7E;
$ready-btn-bg__color: transparent;
$ready-btn-border__color: #012F34;
$footer-logo-fill__color: $logo-fill__color;
$footer-bg__color: #002529;
$footer-social-icon-fill__color: #FFFFFF;

// !!COMPONENTS

ul {
    display: flex;
    column-gap: 10px;
}

.logo-link {
    & svg path {
        fill: $logo-fill__color;
        fill: $header-logo-fill__color;
    }
}

.dsp-none {
    display: none;
}

.nav-list {
    @include flex($cGap: 40);
}

.nav-link {
    @include font(18, 600, 28, none, $header-nav-link-font__color);
    transition: linear .3s;
}

.btn {
    padding: 10px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    transition: linear .3s;
    @include font(18, 600, 28, none, inherit);
}

.line {
    width: 50px;
    height: 4px;
}

.section-title {
    @include font(48, 700, 48, none, $allSection-title-font__color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: $header-bg__color;

    & .header-content {
        @include flex(center, space-between);
        padding: 35px 0;

        &__leftside {
            @include flex(center, $cGap: 80);
        }

        &__contact-btn {
            border-color: $header-btn-border__color;
            color: $header-btn-font__color;
            background-color: $header-btn-bg__color;

            &:hover {
                background-color: #FFFFFF;
                color: $header-btn-hover-font__color;
            }

            &:active {
                background-color: transparent;
                border-color: $header-btn-border-active__color;
                color: $header-btn-active-font__color;
            }
        }
    }
}

main {
    .main-page {
        padding-top: 240px;
        padding-bottom: 120px;
        background-color: #014E56;
        overflow-x: hidden;

        & .main-page__content {
            display: flex;
            justify-content: space-between;
            position: relative;

            &__title {
                @include font(64, 700, 100, none, #FFFFFF);
            }

            &__rightside {
                & .line {
                    background-color: #F67E7E;
                    margin-bottom: 40px;
                }
            }

            &__subtitle {
                max-width: 730px;
                @include font(18, 600, 28, none, #FFFFFF);
            }

            &-decore {
                position: absolute;
                right: -220px;
                bottom: -120px;
            }
        }
    }

    & .directors {
        background-color: #004047;
        overflow-x: hidden;

        &-content {
            padding: 140px 0;
            position: relative;

            &__title {
                text-align: center;
                margin-bottom: 65px;
            }

            &__cardblock {
                @include flex($cGap: 25, $rGap: 75);
                flex-wrap: wrap;

                &-item {
                    width: 350px;
                    min-height: 250px;
                    padding: 30px 25px 55px;
                    background-color: #002529;
                    position: relative;

                    &__user-info {

                        @include flex(center, $fDirection: column, $rGap: 13);

                        & .imgbox {
                            width: 95px;
                            height: 95px;
                            border-radius: 50%;
                            border: 2px solid #C4FFFE;

                            & img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        & figcaption {
                            @include flex(center, $fDirection: column);
                        }

                    }

                    &__user-desc {
                        @include flex(center, $fDirection: column, $rGap: 25);
                        display: none;

                        &__user-quote {
                            @include flex(center, $fDirection: column, $rGap: 8);

                            &__text {
                                text-align: center;
                                max-width: 255px;
                                order: 2;
                            }
                        }

                        &__social {
                            @include flex(center, $cGap: 15);
                        }
                    }

                    & .circle-bg {
                        width: 55px;
                        height: 55px;
                        @include flex(center, center);
                        border-radius: 50%;
                        background-color: #F67E7E;
                        transition: linear .2s;
                        cursor: pointer;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 50%);
                    }
                }
            }

            &__decor1,
            &__decor2 {
                position: absolute;
            }

            &__decor1 {
                top: 0;
                left: -220px;
            }

            &__decor2 {
                bottom: 0;
                right: -150px;
            }
        }
    }

    .clients {
        padding: 140px 0;
        background-color: #012F34;
        overflow-x: hidden;

        &-content {
            position: relative;
            @include flex(center, $fDirection: column, $rGap: 65);

            &__clientsblock {
                width: 100%;
                @include flex(center, space-between);
            }

            &__decor {
                position: absolute;
                top: -140px;
                left: -135px;
            }
        }
    }

    & .ready {
        background-color: $ready-bg__color;
        overflow-y: hidden;

        &-content {
            padding: 75px 0;
            position: relative;
            max-width: 915px;
            margin: 0 auto;
            @include flex($jContent: space-between);

            &__title {
                color: $ready-title-font__color;
            }

            &__btn {
                color: $ready-btn-font__color;
                border-color: $ready-btn-border__color;
                background-color: $ready-btn-bg__color;
            }

            &__decor {
                position: absolute;
                top: 65px;
                left: -250px;
            }
        }
    }
}







footer {
    background-color: $footer-bg__color;

    & .footer-content {
        padding: 50px 0;
        @include flex(center, space-between);

        &__leftside {
            @include flex($cGap: 125);

            &__logo-link {
                margin-bottom: 25px;
            }

            & address {
                & span {
                    display: block;
                    @include font(15, 600, 25, none, $footer-address-font__color);
                    opacity: .6;
                    font-style: normal;
                }
            }
        }

        &__rightside {
            width: 255px;
            @include flex($fDirection: column, $rGap: 50);

            &__social {
                align-self: flex-end;
                @include flex(center, $cGap: 15);

                & a svg {
                    & path {
                        fill: $footer-social-icon-fill__color;
                    }
                }
            }

            &__copy {
                @include font(15, 600, 25, none, $footer-copy-font__color);
                opacity: .6;
            }
        }
    }
}